/*=====указываем правильный адрес к иконочным шрифтам=====*/
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/*= / =*/

/*======МЭЙН======*/
.bg-grey{
	padding-bottom: 100px;
}

h2 {
	background-color: #aeaeae;
	text-align: center;
	padding: 54px 0 29px;
	margin: 4px 0 54px;
	width: 100%;
	color: #fff;
	font-size: 26px;
} 

h2:after {
	content: "";
	display: inline-block;
	margin-top: 57px;
	height: 10px;
	left: 0;
	background-image:
	-webkit-linear-gradient(left top, #aeaeae 49.9%, transparent 2%),
	-webkit-linear-gradient(right top, #aeaeae 49.9%, transparent 5%);
	-webkit-background-size: 10px 14px; 
	background-size: 10px 14px;
	width: 100%;
	position: absolute;
	z-index: 1;
}
/*=====СООБЩЕНИЕ | GPS=====*/
.call-to-action {
	margin-bottom: 50px;
}

.black-button {
	padding: 28.5px 33.5px;
}
/*=====/сообщение=====*/

/*=====КАРТА=====*/
#map_canvas {
	height: 310px;
}
/*=====/карта=====*/

/*=====ФОРМА=====*/
.contact-form {
	overflow: hidden;
	margin-top: 43px;
}
/*----Ввод данных----*/
.form,
.address,
.contact {
	float: left;
}

.address,
.contact {
	width: 23%;
	padding: 33px 1.7% 11px;
	text-align: left;
	margin-bottom: 20px;
}

h3 {
	font-size: 21px;
	text-align: left;
	margin-bottom: 17px;
}

h3,
h4,
.contact span {
	color: #1aa156;
}

.form {
	width: 74.5%;
	margin-right: 2.5%;
	padding: 20px 2% 30px;
}

.inner-addon {
    position: relative;
    text-align: left;
    overflow: hidden;
}

.inner-addon input {
    padding-left: 36px;    
}

.inner-addon i {
	position: absolute;
	/* position: relative; */
	padding: 10px 13px;
	pointer-events: none;
	left: 0;
	top: 24px;
	/* bottom: 27px; */
	color: #1AA156;
	font-size: 17px;
}

.inner-addon-textarea textarea {
    padding: 15px 0 0 36px;    
}

.inner-addon-textarea i {
	position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    left: 0;
    top: 25px;
}

input {
	width: 100%;
	height: 51px;
	margin-top: 18px;
}

textarea {
	width: 100%;
	height: 150px;
	margin-top: 18px;
}

input:before {
	font-family: ;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px solid #1aa156;
	outline: none;
}

input[type="submit"]{
	width: 10%;
	float: right;
	background-color: #0f1521;
	color: #fff;
	border: none;
}
/*-- -/- --*/

/*----Адрес----*/
.contact-form h4 {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 17px;
	margin-bottom: 17px;
}

.address p,
.contact p {
	font-size: 12px;
}
/*-- -/- --*/

/*----Телефон----*/
.contact p {
	line-height: 21px;
}
/*-- -/- --*/
/*=====/форма=====*/

.error {
	display: inline-block;
	margin: 6px 0 0px 38px;
	color: #F00;
	border-radius: 6px;
}