
* {
	margin: 0;
	padding: 0;
}

ul{
	margin-bottom: 0; /*нейтрализация бутстрапа*/
}
.wrapper {
	font-family: "Myriad Pro";
}

.container {
	width: 1200px;
	text-align: center;
	padding:0; /*нейтрализация буутстрапа*/
	overflow: hidden;
}


/* === ШАПКА === */ 

.navigation {
	background-color: #0f1521;
	width: 100%;
	border-top: 5px solid #1aa156;
}

.navigation:after {
	content: "";
	display: inline-block;
	height: 10px;
	background-image:
	-webkit-linear-gradient(left top, #1aa156 49.9%, transparent 2%),
	-webkit-linear-gradient(right top, #1aa156 49.9%, transparent 5%);
	-webkit-background-size: 10px 10px; 
	background-size: 10px 10px;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.triangle:after {
	content: "";
	background-image: url('../images/home/small_triangle.png');
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -136px;
	height: 26px;
	width: 273px;
	background-repeat: no-repeat;
}

.wrapper a:hover {
	color: #fff;
	background-color: #1aa156;
	text-decoration: none;
}

.wrapper a{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.controls a:hover{
	height: 20px;
}

.wrapper .logo:hover {
	background-color: #0f1521;
}

nav {
	display: inline-block;
	position: relative;
	margin-top: 26px;
	margin-bottom: 28px;
	text-align: center;
	width: 100%;
}

nav a {
	font-size: 16px;
	color: #fff;
	border: 1px solid  #1aa156;
	padding: 13px 18px;
	text-decoration: none;
}

header ul li:last-child {
	margin-right: 0;
}

header ul li:first-child {
	margin-left: 0;
}

.logo {
	border: none;
	padding: 0;
}

header ul li {
	display: inline-block;
	margin: 0 4.95%;
}
/* === /шапка === */ 




/* === Мод. ОКНО === */
.modal-title {
	font-family: 'Myriad Pro';
	color: #1aa156;
}

.modal-header {
	background-color: #0F1521;
	border-radius: 4px 4px 0 0;
}

.modal-header .close {
	color: #ccc;
}
/* === /мод.окно === */




/* === ПОДВАЛ === */ 


footer {
	border-top: 5px solid #1aa156;
}

.footer-top {
	background-color: #0f1521;
	color: #1aa156;
	padding: 105px 0 97px; 
}

.footer-top .logo{
	margin-bottom: 15px;
}

.footer-top p {
	font-size: 16px;
	margin-top: 18px;
}

.twitters {
	background-color: #1aa156;
	color: #fff;
	padding: 66px 0;
}

.twitters p {
	width: 35%;
	display: inline-block;
	text-align: left;
	margin: 0;
	margin-top: -20px;
}

.footer-bottom {
	color: #1aa156;
	padding: 53px 0 20px; 
	font-size: 0;
}

.footer-bottom p {
	font-size: 14px;
	margin-top: 47px;
}

.twitters span,
.footer-bottom span {
	font-family: "pictonic";
	color: #1d7243;
	font-size: 30px;
	padding: 10px;
	background-color: #1aa156;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.twitters span {
	color: #0f1521;
	font-size: 40px;
	padding-right: 28px;
}

.twitters:after {
	content: "";
	display: inline-block;
	margin-top: 63px;
	height: 10px;
	background-image:
	-webkit-linear-gradient(left top, #1aa156 49.9%, transparent 2%),
	-webkit-linear-gradient(right top, #1aa156 49.9%, transparent 5%);
	-webkit-background-size: 10px 10px; 
	background-size: 10px 10px;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.footer-bottom span:hover,
.footer-bottom span:focus {
	background-color: #0f1521;
	color: #fff;
}
/* === /подвал === */ 


/* === ОБЩИЕ СТИЛИ === */ 
.bg-grey {
	background-color: #f8f8f8;
}

.bg-white {
	background-color: #fff;
	border: 1px solid  #ececec;
}

.black-button {
	background-color: #0F1521;
	float: left;
	padding: 29px;
}

.green-button {
	background-color: #1aa156;
	float: right;
	padding: 37px 16px;
	width: 98px;
	height: 98px;
	color: #fff;
}

.call-to-action {
	overflow: hidden;
	font-size: 17px;
}

.call-to-action a:hover {
	color: #0F1521;
}

.call-to-action_txt {
	margin-top: 39px;
	overflow: hidden;
}

.call-to-action_txt a{
	color: #1aa156;
	float: left;
/*	margin: 0 30px;*/
	margin: 0 100px 0 55px;
}

.call-to-action_txt a:hover{
	color: #1aa156;
	background-color: #fff;
	text-shadow: 0px 3px 2px #B7A9A9;
}

.call-to-action .call-to-action_txt input[type="text"] {
	width: 71%;
	float: left;
	border: none;
	color: #000;
	outline: none;
	height: 23px;
	margin-top: 0;
}

.call-to-action .call-to-action_txt input::-webkit-input-placeholder { color: #0F1521; }
.call-to-action .call-to-action_txt input:-moz-placeholder { color: #0F1521; }
